<ion-view title="О приложении">
	<ion-content class="padding">
		<p>
			Приложение использует данные с сайта <a href="http://Росконтроль.рф">Росконтроль.рф</a>
		</p>
		<h4>О проекте Росконтроль</h4>
		<p>
			Росконтроль – это некоммерческое партнерство, которое объединяет ведущие исследовательские лаборатории и научные институты России. Мы защищаем права потребителей,
			боремся за
			безопасность и качество товаров, консолидируем экспертное сообщество и поддерживаем добросовестный бизнес.
		</p>
		<p>
			<b>Росконтроль – первый масштабный негосударственный проект в области контроля качества и безопасности товаров и услуг.</b>
		</p>
		<p>
			Мы занимаемся независимым общественным контролем рынка и предоставляем площадку для обмена мнениями потребителям, производителям, продавцам, экспертам и ответственным
			госструктурам. Помимо своего сайта, публикуем материалы на страницах Росконтроля в социальных сетях и в других средствах массовой информации.
		</p>

		<h4>Финансирование</h4>
		<p>
			Мы работаем за счет привлеченных инвестиций и взносов участников проекта, среди которых нет заинтересованных лиц – ни производителей, ни ритейлеров.
		</p>
		<h4>Объективность экспертизы</h4>
		<p>
			Деятельность НП «Росконтроль» открыта и прозрачна. В рамках контрольных мероприятий мы закупаем и организуем исследования продуктов питания, косметики, бытовой химии,
			детских товаров, бытовой техники, электроники и других изделий, а также проверяем качество услуг, предоставляемых в потребительской сфере. Наши методики проверки и
			рейтингования продукции основаны на российских государственных и международных стандартах. Для проведения исследований и экспертиз привлекаются самые авторитетные
			испытательные лаборатории и экспертные организации.
		</p>
		<h4>Черный список</h4>
		<p>
			Если испытания образцов продукции в рамках контрольных мероприятий выявили угрозу жизни и здоровью человека или обман покупателя, мы вносим товар в «черный список» и
			незамедлительно начинаем расследование. Его ход и результаты отражаем на сайте Росконтроль.РФ и одновременно оповещаем всех заинтересованных лиц, в т.ч. государственные
			надзорные органы, передаем обращения в торговые сети с требованием изъять товар из продажи. Главная цель расследования – выяснить причины, которые способствовали
			производству и продаже некачественного, небезопасного продукта.
		</p>
		<p>
			Мы не исключаем товар из «черного списка» ни при каких условиях. Даже если представлены положительные результаты сторонней экспертизы – это не повод убрать товар из
			«черного списка», так как здесь мы фиксируем факт нарушения, допущенного в цепочке движения товара от производства (в том числе сырья) до полки магазина, с которой был
			закуплен несоответствующий требованиям товар. Мы работаем на стороне потребителя, а ему неважно, по чьей вине он приобрел некачественный и/или небезопасный товар.
		</p>
		<p>
			После выявления первого нарушения товар находится в «черном списке» три месяца, после этого мы снова его проверяем, и если опять находим значительные нарушения, снова
			помещаем в «черный список» на шесть месяцев.
		</p>
		<p>
			Единственная причина, по которой мы немедленно удалим товар из «черного списка» в любое время – это вступившее в силу решение суда.
		</p>
		<h4>Наши планы</h4>
		<p>
			Мы намерены объединить наиболее авторитетные экспертные организации, научно-исследовательские и испытательные лаборатории и экспертов, которые много лет работают на
			рынке экспертизы и оценки соответствия качества и безопасности товаров. Наша цель - построение крупнейшей национальной экспертной организации и модернизация системы
			защиты потребительского рынка России и Таможенного союза от небезопасных и некачественных товаров и услуг, а также от недобросовестных участников.
		</p>
		<p>
			Уже сейчас мы предоставляем добросовестному бизнесу возможность усилить конкурентные преимущества и укрепить доверие потребителей. Кроме исследования товаров и услуг,
			специалисты Росконтроля могут провести для предприятий анализ производства, отладить систему менеджмента качества. Для ритейлеров мы готовы организовать входящий и
			периодический контроль качества поставляемой продукции.
		</p>
		<p>
			Вместе с участниками рынка мы стремимся выработать единый взгляд на стандарты качества. От этого выиграют все – потребители, бизнес, государство.
		</p>
	</ion-content>
</ion-view>